<div class="container">
    <div class="box-style">
        <div class="box-style">
            <div class="box-style">
                <div class="box-style">
                    <div class="box-style">
                        <div class="box-style">
                            <div class="box-style">
                                <div class="box-style">
                                    <span class="rotating-text">Publicis Sapient</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
