$light-black-color: #282c3f;

@mixin text-style {
    padding: 10px;
    text-align: center;
    line-height: 1;
    font-weight: 700;
    color: $light-black-color;
}
.transfor-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    h2{
        font-size: 20px;
        @include text-style;
    }
    p{
        font-size: 27px;
        margin: 10px;
        @include text-style;
    }
  }
